*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

background-color: #ffffff;
font-family: 'Antonio', sans-serif ;
font-weight: 500;
}

/*Header*/
.titulo{
    padding: 20px 0;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:white;
    font-family: 'Antonio', sans-serif;
    font-weight: 200;
}

.container{
    background-color: rgb(0, 0, 0);
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0px;
    position: relative;
}

.container > .logotipo, img{
    width: 100px;
    height: 100px;
}

.container > .contenido,
.container > .aside,
.container >  div,
.container > .footer{

    background-color: rgb(8, 8, 8);
    padding: 20px;
    border: 1px solid black;
}
/*NAVEGADOR*/

.container > .navegador{
    background-color: rgb(231, 202, 202);
    width: 100%;
    position: absolute;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-top: 130px;
}

.ul, .li, .a {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: 'Antonio',sans-serif; 
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 20px;
    padding-left: 30px;
    cursor: pointer;
    
}

a{
    z-index: 5;
}


.menu{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    z-index: 2;
    

}
.navegador_derecho{
    position: absolute;
    top: 10px;
    right: 90px;
    list-style-type: none;
    width: 50px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}


.a:hover{
    transition: all 550ms;
    color: #a92424;
    cursor: pointer;
    transform: scale(1.1);
}
/*Texto animado*/
.container .texto1{
    margin: 0% 0% 0% 40%;
    width: 750px;
    height: 60px;
    border-radius:8px;
    font-size: 40px;
    text-align: center;
    line-height: 55px;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    background-color: #a92424;
}
.textos{
    list-style: none;
    padding-left: 5px;
    animation: cambiar 18s infinite;
}
@keyframes cambiar {
    0%{ margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -55px;}
    50%{margin-top: -55px;}

    55%{margin-top: -110px;}
    80%{margin-top: -110px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40%;}

    100%{margin-top: 0;}

}


.container > .contenido {
    grid-column: span 3;
}

.contenido > .article{
    background-color: darkgray;
    padding: 10px;
    margin-top: 5px;
    color: black;
}

.article > h1,
.article > p{
    padding: 10px;
}

.container > .aside{
    grid-column: span 2;
    background-color: darkslategray;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img_aside{
    width: 100%;
    margin-top: 5px;
}

/*vitrina de estilos*/


.vitrina{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1/6;
    justify-content:center;
    gap: 5px;
    margin-top: 100px;
}


/*efecto mouse sobre imagen*/
.vitrina .imagenes{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    

}
.vitrina .imagenes img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; 
    
}


.vitrina .imagenes .capa{
    position: absolute;
    top: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.521);
    transition: all 500ms ease-out;
    text-align: center;
    opacity: 0;
    justify-content: center;
    align-items: center;
    
    }

.vitrina .imagenes:hover>.capa {
    opacity: 1;
}

    
.vitrina .imagenes .capa h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 120px;
    margin-top: 250px;
    font-size: 60px;

}
.vitrina .imagenes:hover > img{
    transform: scale(1.1);
}

/*footer*/
.container .footer {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%2388868a' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    

}
.footer .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    
}
.p_footer{
  color: #d3cfcf;
  position: absolute;
  margin-top: 90px;

}
.facebook img{
    height: 50px;
    width: 50px;
    
}
.instagram img {
    height: 50px;
    width: 50px;
}
.twitter img {
    height: 50px;
    width: 50px;
}



@media screen and (max-width: 1000px) {
.container{
    background-color: aqua;
}
.container .navegador {
    margin-left: 1px;
}
.ul .a{
    padding: 0;
}

}
@media screen and (max-width: 768px){
    
.container .navegador {
        background-color: rgb(231, 202, 202);
        border-radius: 8px;
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 110%;
        padding-bottom: 3px;
        opacity: 0.9;
        margin-left: 10px;
        transform: translate(-20px);
        
}
ul.ul{
    width: 10px;
    background-color: #000000;
}

.ul,
.li,
.a {
    display:list-item;
    padding:8px 0px 3px 15px;
    margin-top: 10px;
}

  .header{
    text-align: center;

  }
  .container .contenido{
    grid-column: 1/-1;
  }
  .container .aside{
    grid-column: 1/-1;
  }
  .container .vitrina{
    grid-column: 1/-1;
    
  }
  
}
